html {
    font-size: 14px;
}

img {
    max-height: 35rem;
    max-width: 45rem;
    display: block;
    margin: auto;
}

fieldset {
    margin-bottom: 1rem;
}

form {
    display: inline;
}

.fs {
    display: inline;
    width: 18rem;
}

.pictureBox {
    width: 45rem;
    height: 35rem;
    display: inline-block;
    background-color: aquamarine;
}

#pictureLeft {
    margin-right: 3rem;
}